<div class="divFooter">

    <footer class="footer">
        <div class="caja1"> 
        <p>SERVICIOS</p>
        <p>Venta de videojuegos</p>
        <p>Alquiler de videojuegos</p>
        <p>Desarrollo de videojuegos</p>
        <p>Compra de videojuegos</p>
        </div>
        
        <div class="caja2"> 
        <p>LEGAL</p>
        <p>Condiciones de uso</p>
        <p>Política de privacidad</p>
        <p>Política de cookies</p>
        <p>Protección de datos</p>
        </div>
        
        <div class="caja3"> 
        <p>FAQs</p>
        <p>Preguntas más frecuentes</p>
        <p>Dudas legales</p>
        <p>Política de devolución</p>
        <p>Política de reclamación</p>
        </div>
        
        <div class="caja4"> 
        <p>SOBRE NOSOTROS</p>
        <p>+ 25 años de experiencia</p>
        <p>Madrid, Comunidad de Madrid</p>
        <p>+34 91 158 558 5526</p>
        <p>+34 659 555 5898785</p>
        </div>
        
        <div class="caja5"> 
        <p>MÁS SERVICIOS</p>
        <p>Financiación</p>
        <p>Donación</p>
        <p>Ayudas</p>
        <p>Trabaja con nosotros</p>
        </div>
      
      </footer>


</div>


