

<div class="nosotros">

    <h1>Sobre Nosotros</h1>
    <h2>Cómo empezó todo</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
            temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
            possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
            electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
            mollitia quae odio maxime, modi praesentium!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
            temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
            possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
            electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
            mollitia quae odio maxime, modi praesentium!
        </p>
    <h2>Nuestro equipo</h2>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
    </p>
    <h2>Evolución de la empresa</h2>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
    </p>
    <h2>Nuestro objetivo</h2>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Soluta quisquam fuga aperiam reiciendis a non incidunt, sit repellat,
        temporibus sed velit quae, perferendis id molestias. At, dolor repellat 
        possimus ut similique quam dolorum, voluptatibus perspiciatis molestiae d
        electus incidunt, blanditiis quisquam provident tempore. Repudiandae deleniti 
        mollitia quae odio maxime, modi praesentium!
    </p>

    <img src="./assets/pro.svg" width="50%" height="50%">
    <img src="./assets/fifa.svg" width="50%" height="50%">

    <div class="btn">
        <button>Volver</button>

    </div>
    
    




</div>