<div class="cabecera">

    <ul>
        <li><a href="#"> <h3>LOGO</h3></a></li>
        <li><a href="#">
          <div class="input-group">
            <input required="" type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">¿Te puedo ayudar?</label>
          </div>
        </a></li>
        <li><a href="#"> <h3>Videojuegos</h3> </a></li> <!--Aquí habrá que linkar las otras weebs-->
        <li><a href="#"> <h3>Contacto</h3> </a></li> <!--Aquí habrá que linkar las otras weebs-->
        <li><a href="#"> <h3>Nosotros</h3> </a></li> <!--Aquí habrá que linkar las otras weebs--> 
        <li><a href="#"> <button> Iniciar sesión </button></a></li> <!--Aquí habrá que linkar las otras weebs-->
      </ul>

</div>


