<!-- aqui quiza sería aconsejable poner tambien la app-cabecera y la app-footer , ya lo veremos..-->


<div class="contacta">


    <form class="form card">
        <div class="card_header">
            <h1 class="form_heading">Contacta con nosotros</h1>
        </div>
        <div class="field">
            <label for="nombre">Nombre</label>
            <input id="nombre" placeholder="Nombre" type="text" name="nombre" class="input">
        </div>
        <div class="field">
            <label for="apellidos">Apellidos</label>
            <input id="apellidos" placeholder="Apellidos" type="text" name="apellidos" class="input">
        </div>
        <div class="field">
            <label for="correo">Correo electrónico</label>
            <input id="correo" placeholder="Correo electrónico" type="email" name="correo" class="input">
        </div>
        <div class="field">
            <label for="observa">Observaciones</label>
            <textarea name="observaciones" rows="10" cols="50">
                
            </textarea>
        </div>
        <div class="field">
            <button class="button">Enviar</button>
        </div>
    </form>

    

</div>
<div class="btn">
    <button>Volver</button>

</div>