
.contacta{
    display: flex;
    text-align: left;
    justify-content: center;
}

.card {
    width: auto;
    height: auto;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
  }
  
  .form {
    padding: 25px;
  }
  
  .card_header {
    display: flex;
    align-items: center;
  }
  
  .form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #282866;
    
  }
  
  .field {
    padding-bottom: 10px;
  }
  
  .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #282866;
    border: 1px solid #dadaf7
  }
  
  .input:focus-visible {
    outline: 1px solid #7979f7;
  }
  
  .input::placeholder {
    color: #bcbcdf;
  }
  
  label {
    color: #282866;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  button {
    background-color: #282866;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
  }
  
  button:hover {
    background-color: #5f5f9c;
  }

  .btn{
    margin-left: 50%;
    margin-top: 40px;
}