<!-- de esta forma invocamos al componente usuario, para que sea mostrado cuando llamemos al componente videojuegos
este componente tendrá el usuario y su password-->
<app-usuario></app-usuario>

<div class="videojuegos">
   <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>VALORACIÓN</th>
            <th>OPCIÓN</th>
        </tr>
    </thead>
    <tbody> <!-- Aquí vamos a crear un for, para recorrer y mostrar toda la lista de videojuegos, mostrando en una tabla
    únicamente lo que nos solicita el ejercicio + un botón de detalles que nos mostrará todos los atributos de los videjuegos-->
        <tr *ngFor="let juego of listaVideojuegos">
            <td>{{juego.id}}</td>
            <td><b>{{juego.titulo}}</b></td>
            <td>{{juego.valoracionMedia}}</td>
            <td><button routerLink="/detalles" class="learn-more">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text">Saber más</span>
              </button></td>
        </tr>
    </tbody>

   </table>

</div>


