
<div class="videojuegos">

   <!-- <img [src]="imagen"> -->

   <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>VALORACIÓN</th>
            <th>OPCIÓN</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let juego of listaVideojuegos">
            <td>{{juego.id}}</td>
            <td><b>{{juego.titulo}}</b></td>
            <td>{{juego.valoracionMedia}}</td>
            <td><a href="#">Detalle</a></td>
        </tr>
    </tbody>
   </table>




   <!-- aqui es para sacar todos los atributos de cada videojuego
    <ul>
        <li *ngFor="let juego of listaVideojuegos; index as i">
            Iteración: {{i}} => ID: {{juego.id}} - Titulo: {{juego.titulo}} - Imagen: <img [src]="imagen100"> - Valoración: {{juego.valoracionMedia}}
        </li>
    </ul>
    -->
    



</div>


